.homeControlDiv {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: flex-start;
    justify-content: space-evenly;
    height: 75vh;
    padding: 5%;
}



.SelectorAndInputDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}


.SelectorDiv {
    width: 60%;
    height: 15%;
}

.LikeRecentDiv {
    height: 66.66%;
}

.artistInfoContainer {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.artistImage {
    width: 15%; /* Set the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Adjust the margin as needed */
    margin-left: 10px;
    margin-top: 10px;
}

.artistName {
    /* Add styles for the artist name displayed to the right of the image */
    font-weight: bold; /* Example: Make the name bold */
}
