

.HomePage .UserPanel {
    display: block;
    width: 33vw;
    height: 100vh;
    position: fixed;
    background-color: #3988C7;

}

.HomePage .MainDisplay {
    display: block;
    width: 66vw;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: #be2626;
}